@media screen and (max-width: 991px) {

/* smartphones >=0 ate 767px*/
@media screen and (max-width: 767px){

    
    .mostrarMenu {
        left: 0;
        opacity: 1;
    }
    
    /* temporariamente off */
    
    footer {
        /* display: none; */
    }
    header #menu-mobile {
        display: block;
    }

    header nav {
        position: fixed;
        top: 60px;
        left: -80vw;
        width: 80vw;    /* viewport width */
        max-width: 300px;
        max-height: 667px;
        height: calc(100% - 60px);   /* viewport height*/
        justify-content: space-evenly;
        background-color: #F9003D;
        flex-direction: column;
        opacity:0;
        transition: left 0.4s, opacity 0.7s;
    }

    header nav a {
        border-left: 2px dotted white;
    }

    main .banner-flex {
        justify-content: center;
        align-items: flex-start;
        padding-top: 80px;
    }

    main .banner-flex h1 {
        font-size: 40px;
    }

    main .banner-flex #banner-infobox {
        max-width: 340px;
        border: 1px solid yellow;
    }
    main .banner-flex #banner-infobox img {
        max-width: 355px;
    }
}

}